.container {
    overflow:hidden;width:100%
}

.box {
    white-space:nowrap
}

.box div {
    width:120px;display:inline-block;border:1px solid black
}


div.MenuLevel1 { width: 100px }
div.MenuLevel1 > div { background-color: #ccc; border: solid #000 1px; position: relative; cursor: pointer }
div.MenuLevel2 { width: 150px; display: none }
div.MenuLevel2 > div { background-color: #ccc; border: solid #000 1px; cursor: pointer }
div.MenuLevel1 > div:hover div.MenuLevel2 { display: block; position: absolute; left: 80%; top: 90%; z-index: 1 }


div.MenuLevel1 { 
    width: 100% 
}

div.MenuLevel1 > div { 
    float: left;
    width: 150px;
    height: 20px;
    background-color: lightgray; 
    border: solid black 1px;
    border-radius: 4px; 
    position: relative; 
    cursor: pointer;
    color: dimgrey;
}

div.MenuLevel2 { 
    width: 150px;
    opacity: 0;
    -webkit-transition: all 2s linear 0.5s;
    -moz-transirion: all 2s linear 0.5s;
    -o-transition: all 2s linear 0.5s;
    transition: all 2s linear 0.5s;
}

div.MenuLevel2 > div { 
    background-color: lightgray; 
    border: solid black 1px;
    border-radius: 4px;
    cursor: pointer;
    color: dimgrey;
}

div.MenuLevel1 > div:hover div.MenuLevel2 { 
    opacity: 1
} 

div.MenuLevel1 > div:hover { 
    background-color: darkgrey; 
    color: lightgray; 
}

@media all and (max-width: 927px) {
    div.MenuLevel1>div {
        float: none;
    }

    div.MenuLevel1>div:hover div.MenuLevel2 {
        opacity: 1;
        position: absolute;
        left: 100%;
        top: 0;
        z-index: 1
    }
}